/* GLOBAL */

div.container {
  max-width: 360px;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  z-index: 1030;
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top,  #333333 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #333333 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #333333 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #333333 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #333333 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  border-radius: 15px 15px 0 0;
}

h1#title {
  text-align: center;
  font-family: "Rokkitt", serif;
  font-size: 250%;
  font-weight: normal;
  text-transform: lowercase;
  letter-spacing: .1em;
  color: #e5e5e5;
}

/* PAGE CONTENT */

div#content {
  width: 100%;
  overflow: auto;
  margin-top: 60px;
  background: #000000
    url("../img/carbon.png");
  box-shadow: inset 0 0 40px #000000;
}

/* SCALE OPTIONS */

form {
  margin: 20px 0 0 0;
  position: relative;
}

label {
  width: 33%;
  height: 20px;
  margin-top: 10px;
  position: absolute;
  left: 33%;
  text-align: center;
  font-style: italic;
  text-transform: lowercase;
  color: #555555;
}

select.scaleOptions {
  width: 90%;
  height: 40px;
  margin: 0 5% 5px 5%;
  background: #4fdff1; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #4fdff1 0%, #25c6e6 50%, #00aeda 51%, #004fa9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4fdff1), color-stop(50%,#25c6e6), color-stop(51%,#00aeda), color-stop(100%,#004fa9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #4fdff1 0%,#25c6e6 50%,#00aeda 51%,#004fa9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #4fdff1 0%,#25c6e6 50%,#00aeda 51%,#004fa9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #4fdff1 0%,#25c6e6 50%,#00aeda 51%,#004fa9 100%); /* IE10+ */
  background: linear-gradient(135deg,  #4fdff1 0%,#25c6e6 50%,#00aeda 51%,#004fa9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fdff1', endColorstr='#004fa9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border: none;
  font-size: 125%;
  font-weight: bold;
}

/* PROGRESSION DISPLAY */

div#progressionDisplay {
  width: 90%;
  overflow: auto;
  margin: 20px 5% 0 5%;
}

div#audioBox {
  width: 12%;
  padding-top: 10px;
  float: left;
  text-align: center;
}

div.chordBox {
  width: 14%;
  height: 40px;
  margin-left: 4%;
  padding: 10px 2%;
  float: left;
  text-align: center;
  background-color: #e5e5e5;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #000000;
  font-weight: bold;
  text-transform: capitalize;
  color: #555555;
  cursor: pointer;
}

/* SCALE DISPLAY */

div#scaleDisplay {
  width: 90%;
  overflow: auto;
  margin: 20px 5% 0 5%;
}

div.scaleBox {
  width: 19%;
  margin-left: 8%;
  float: left;
}

div#oddDegreeRow, div#evenDegreeRow {
  width: 100%;
  overflow: auto;
  padding: 7px 0;
}

div#oddDegreeRow div.scaleBox:first-child {
  margin-left: 0;
}

div#evenDegreeRow div.scaleBox:first-child {
  margin-left: 13.5%;
}

div.degreeBox {
  height: 40px;
  padding-top: 20px;
  text-align: center;
  background: #4fdff1; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #4fdff1 0%, #25c6e6 50%, #00aeda 51%, #004fa9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4fdff1), color-stop(50%,#25c6e6), color-stop(51%,#00aeda), color-stop(100%,#004fa9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #4fdff1 0%,#25c6e6 50%,#00aeda 51%,#004fa9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #4fdff1 0%,#25c6e6 50%,#00aeda 51%,#004fa9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #4fdff1 0%,#25c6e6 50%,#00aeda 51%,#004fa9 100%); /* IE10+ */
  background: linear-gradient(135deg,  #4fdff1 0%,#25c6e6 50%,#00aeda 51%,#004fa9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fdff1', endColorstr='#004fa9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
  border-radius: 50%;
  box-shadow: 0 0 10px 1px #000000;
  font-size: 90%;
  font-weight: bold;
  text-transform: capitalize;
  color: #555555;
  cursor: pointer;
}

button#randomButton {
  width: 90%;
  margin: 20px 5%;
}

i {
  cursor: pointer;
}

/* CHORD CHART MODAL */

div#chordChartModal {
  width: 26%;
  left: 37%;
  margin-left: 0;
  z-index: 9999;
}

h3#chordChartTitle {
  text-transform: capitalize;
}

/* FOOTER */

div#gradient {
  height: 40px;
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  border-radius: 0 0 15px 15px;
}

footer {
  position: fixed;
  bottom: 0;
}

p#byline {
  width: 40%;
  margin: 0 auto 10px auto;
  text-align: center;
  text-transform: lowercase;
}